<h1>Welcome </h1>

<fieldset>

<%= form_for :user do |f| %>


  <%= f.label :username %>
  <%= f.text_field :username, required:true%>
  <br>

   <br>
  <%= f.label :password %>
  <%= f.password_field :password, required:true %>
   <br>
    <br>

</fieldset>

 <br>

<%= f.submit "Login" %>

<% end %>

