<h1 class="title">New Pokemon</h1>

<div class="section">
 <%= form_for(@pokemon) do |f| %>
  <% if @pokemon.errors.any? %>
<h2> Errors: </h2>
<ul>
<% @pokemon.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
<% end %>
<div class="field">
  <div class="control">
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>
  </div>
<div class="field">
  <div class="control">
  <%= f.label "Choose a category:" %>
  <%= f.select(:category, options_for_select([['FIRE','FIRE'], ['WATER', 'WATER'], ['GRASS', 'GRASS'],['ELECTRIC', 'ELECTRIC'],['FLYING', 'FLYING']])) %>
</div>
  </div>
  <div class="field">
  <div class="control">
   <%= f.file_field :image %><br>
</div>

<%= f.submit %>

<% end %>
