<!DOCTYPE html>
<html>
<div>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%=link_to "Logout", logout_path, method:"delete" %>
      <span></span>
      <%=link_to "Add Pokemons", new_pokemon_path %>
      <%=link_to "Show All Pokemon", pokemons_path %>
      <%=link_to "Show My Pokemon", user_pokemons_path(current_user) %>
    <% else %>
    <%=link_to "Sign Up", signup_path %>
    <span></span>
    <br>
    <%=link_to "Log In", login_path %>
    <span></span>
    <br>
    <%= form_tag('/auth/github', method: 'post', data: {turbo: false}) do %>
    <button type='submit'>Login with Github!</button>
    <% end %>
    <span></span>
    <br>
  
  
    <% end %>
    <%= yield %>
  </body>
</html>
