<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
  <%=link_to "Logout", logout_path, method:"delete" %>
  <%=link_to "Add Pokemon", new_pokemon_path %>
  <%=link_to "Show All Pokemon", pokemons_path %>
  <% else %>
  <%=link_to "Sign Up", signup_path %>
  <%=link_to "Log In", login_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
